{{- $name := .name | default "" | plainify -}}
{{- $name = replaceRE "[^[:alnum:] ]+" "" $name -}}
{{- $words := slice -}}
{{- range split $name " " -}}
  {{- if . -}}
    {{- $words = $words | append . -}}
  {{- end -}}
{{- end -}}
{{- $initials := "?" -}}
{{- if ge (len $words) 2 -}}
  {{- $first := index $words 0 -}}
  {{- $last := index $words (sub (len $words) 1) -}}
  {{- $initials = upper (printf "%s%s" (substr $first 0 1) (substr $last 0 1)) -}}
{{- else if eq (len $words) 1 -}}
  {{- $word := index $words 0 -}}
  {{- if ge (len $word) 2 -}}
    {{- $initials = upper (substr $word 0 2) -}}
  {{- else -}}
    {{- $initials = upper (substr $word 0 1) -}}
  {{- end -}}
{{- end -}}
{{- $initials -}}
